/***********************************
 *                                 *
 *             WEBFONTS            *
 *                                 *
 ***********************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
  font-family: 'Code-Pro-LC';
  src: url('/assets/webfonts/Code-Pro/25CFB7_6_0.eot');
  src: url('/assets/webfonts/Code-Pro/25CFB7_6_0.eot?#iefix') format('embedded-opentype'),
    url('/assets/webfonts/Code-Pro/25CFB7_6_0.woff') format('woff'),
    url('/assets/webfonts/Code-Pro/25CFB7_6_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Code-Pro';
  src: url('/assets/webfonts/Code-Pro/25CFB7_9_0.eot');
  src: url('/assets/webfonts/Code-Pro/25CFB7_9_0.eot?#iefix') format('embedded-opentype'),
    url('/assets/webfonts/Code-Pro/25CFB7_9_0.woff') format('woff'),
    url('/assets/webfonts/Code-Pro/25CFB7_9_0.ttf') format('truetype');
}

/***********************************
 *                                 *
 *            CONTAINERS           *
 *                                 *
 ***********************************/
body {
  font-family: 'Open Sans', 'Trebuchet MS', 'Verdana', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #EDEDED;
  min-width: 74.5pc;
}

html, body {
  height: 100%;
}

#topContainer {
  position: relative;
  min-height: 100%;
  height: auto !important; /* Makes bottom stick in IE 6*/
  height: 100%;
  margin: 0 auto -17pc;
  vertical-align: bottom;
  z-index: 0;
}

#bottomContainer {
  position: relative;
  z-index: 1;
}

#content {
  position: absolute;
  bottom: 0;
  padding: 4pc;
  margin-left: 13pc;
}

#bottomContainer, #bottomPush {
  height: 17pc;
}

#bottomPush {
  position: relative;
  clear: both;
}

#titlebar {
  font-family: 'Code-Pro-LC', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  height: 10.5pc;
  padding: 2pc 5pc 0 2pc;
  background: #FF6D00;
  color: #fff;
}

#titlebarHeader {
  font-family: 'Code-Pro-LC', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  cursor: hand;
  cursor: pointer;
  float: left;
}

#titlebarLogo {
  vertical-align: baseline;
  height: 8.15pc;
}

#titlebarName, #sidebarName {
  font-family: 'Code-Pro-LC', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  margin: 0;
  font-size: 11.6pc;
  line-height: 8.5pc;
}

#titlebarName {
}

#sidebar {
  position: absolute;
  bottom: 19pc;
  line-height: 8.5pc;
  float: left;
  width: 12pc;
  margin-left: 4pc;
}

#sidebarName {
  display: block;
  color: #FF6D00;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.5pc;
}

#footer p {
  margin: 0;
  text-align: right;
  color: #777;
}

/***********************************
 *                                 *
 *          NAVIGATION             *
 *                                 *
 ***********************************/

#nav {
  font-size: 3pc;
  float: left;
  margin: 0;
  list-style: none;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  padding: 0 1pc;
  text-decoration: none;
  color: #fff;
  border-right: .25pc solid #fff;
}

#nav li a.last {
  border-right: 0;
}

#nav li a:hover {
  color: #069;
}

#nav li a.current {
  color: #000;
}

/***********************************
 *                                 *
 *        TEXT AND HEADINGS        *
 *                                 *
 ***********************************/
p {
  line-height: 1.8em;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: .5em;
}

h1 {
  color: #FF6D00;
  font-size: 4em;
}

h2 {
  color: #2C93BA;
  font-size: 2em;
}

h3 {
  color: #3A9AC0;
  font-size: 1.5em;
}

/***********************************
 *                                 *
 *              LINKS              *
 *                                 *
 ***********************************/
a img {
  border: none;
}

a:link {
  color: #69C;
}

a:visited {
  color: #C3F;
}

a:hover, a:active, a:focus {
  color: #C00;
}

/***********************************
 *                                 *
 *          PAGE ELEMENTS          *
 *                                 *
 ***********************************/
hr {
  height: 1px;
  border-top: 1px;
  border-right: none;
  border-left: none;
  border-color: #aaa;
  width: 40%;
}

table td {
  vertical-align: top;
}
