/***********************************
 *                                 *
 *             WEBFONTS            *
 *                                 *
 ***********************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {font-family: 'Code-Pro-LC';src: url('webfonts/25CFB7_6_0.eot');src: url('webfonts/25CFB7_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/25CFB7_6_0.woff') format('woff'),url('webfonts/25CFB7_6_0.ttf') format('truetype');}
/***********************************
 *                                 *
 *            CONTAINERS           *
 *                                 *
 ***********************************/
body {
  font-family: 'Open Sans', 'Trebuchet MS', 'Verdana', 'Helvetica', 'Arial', sans-serif;
  background: #d8f0f3;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #EBEBEB;
}

html, body {
  height: 100%;
}

#topContainer {
  min-height: 100%;
  height: auto !important; /* Makes bottom stick in IE 6*/
  height: 100%;
  margin: 0 auto -275px;
  vertical-align: bottom;
}

#content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 50px;
  margin-left: 200px;
}

#bottomContainer, #bottomPush {
  height: 275px;
}

#bottomPush {
  clear: both;
}

#titlebar {
  width: 100%;
  height: 175px;
  padding-bottom: 20px;
  padding-left: 55px;
  margin-bottom: 75px;
  background: #FF6D00;
  color: #fff;
}

#titlebarHeader {
  cursor: hand;
  cursor: pointer;
  float: left;
}

#titlebarLogo {
  vertical-align: text-bottom;
}

#titlebarName, #sidebarName {
  margin: 0;
  font-size: 200px;
  font-family: 'Code-Pro-LC', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
}

#sidebar {
  position: absolute;
  bottom: 260px;
  float: left;
  width: 200px;
  margin-left: 50px;
}

#sidebarName {
  display: block;
  color: #FF6D00;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/***********************************
 *                                 *
 *          NAVIGATION             *
 *                                 *
 ***********************************/
#nav {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 0px;
  box-shadow: -1px 2px 3px #bbb;
  -moz-box-shadow: -1px 2px 3px #bbb;
  -webkit-box-shadow: -1px 2px 3px #bbb;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #069;
  border-right: 1px solid #ccc;
}

#nav li a:hover {
  color: #c00;
  background-color: #fff;
}

#nav li a.current {
  color: #fff;
  background-color: #E60;
}

/***********************************
 *                                 *
 *        TEXT AND HEADINGS        *
 *                                 *
 ***********************************/
p {
  line-height: 180%;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  color: #FF6D00;
}

h2 {
  color: #2C93BA;
}

h3 {
  color: #3A9AC0;
  font-size: 110%;
}

/***********************************
 *                                 *
 *              LINKS              *
 *                                 *
 ***********************************/
a img {
  border: none;
}

a:link {
  color: #69C;
}

a:visited {
  color: #C3F;
}

a:hover, a:active, a:focus {
  color: #C00;
}

/***********************************
 *                                 *
 *          PAGE ELEMENTS          *
 *                                 *
 ***********************************/
hr {
  height: 1px;
  border-top: 1px;
  border-right: none;
  border-left: none;
  border-color: #aaa;
  width: 40%;
}

table td {
  vertical-align: top;
}
