/***********************************
 *                                 *
 *             WEBFONTS            *
 *                                 *
 ***********************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
  font-family: 'Code-Pro-LC';
  src: url('/static/webfonts/Code-Pro/25CFB7_6_0.eot');
  src: url('/static/webfonts/Code-Pro/25CFB7_6_0.eot?#iefix')
    format('embedded-opentype'),
    url('/static/webfonts/Code-Pro/25CFB7_6_0.woff') format('woff'),
    url('/static/webfonts/Code-Pro/25CFB7_6_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Code-Pro';
  src: url('/static/webfonts/Code-Pro/25CFB7_9_0.eot');
  src: url('/static/webfonts/Code-Pro/25CFB7_9_0.eot?#iefix')
    format('embedded-opentype'),
    url('/static/webfonts/Code-Pro/25CFB7_9_0.woff') format('woff'),
    url('/static/webfonts/Code-Pro/25CFB7_9_0.ttf') format('truetype');
}

/***********************************
 *                                 *
 *            CONTAINERS           *
 *                                 *
 ***********************************/
body {
  font-family: 'Open Sans', 'Trebuchet MS', 'Verdana', 'Helvetica', 'Arial',
    sans-serif;
  color: #000;
  background-color: #EDEDED;
  min-width: 69em;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,
    th,td {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#topContainer {
  position: absolute;
  left: 0;
  bottom: 15em;
  min-height: 100%;
  height: auto !important; /* Makes bottom stick in IE 6*/
  height: 100%;
  width: 100%;
  max-width: 81em;
  margin: 0 auto -15em;
  vertical-align: bottom;
  z-index: 0;
}

#bottomContainer {
  position: absolute;
  width: 100%;
  min-width: 69em;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#content {
  position: absolute;
  bottom: 0;
  padding: 3em;
  margin-left: 12em;
}

#bottomContainer, #bottomPush {
  height: 15em;
}

#bottomPush {
  position: relative;
  clear: both;
}

#titlebar {
  font-family: 'Code-Pro-LC', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  color: #fff;
  background: #FF6D00;
  width: 100%;
  padding: 1.5em 0 1.5em 3em;
  height: 7.5em;
}

#titlebarHeader {
  position: relative;
  font-family: 'Code-Pro-LC', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  cursor: hand;
  cursor: pointer;
  float: left;
  margin-right: 3em;
}

#navigation {
  position: relative;
  float: left;
}

#titlebarLogo {
  vertical-align: baseline;
  height: 7.5em;
  padding-right: .25em;
}

#titlebarName, #sidebarName {
  font-family: 'Code-Pro-LC', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 10.5em;
  line-height: .875em;
}

#titlebarName {
  display: inline-block;
  height: .715em;
}

#sidebar {
  position: absolute;
  bottom: 16.5em;
  line-height: 9em;
  width: 12em;
  margin-left: 1.5em;
}

#sidebarName {
  display: block;
  color: #FF6D00;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5pc;
  max-width: 81em;
  width: 100%;
}

#footer p {
  margin: 0;
  text-align: right;
  color: #777;
}

/***********************************
 *                                 *
 *          NAVIGATION             *
 *                                 *
 ***********************************/

#navButtons {
  text-align: center;
}

#navButtons img {
  padding-right: 2em;
  margin-top: .4em;
  height: 3.5em;
}

#navButtons a {
  text-decoration: none;
}


#nav {
  margin-top: -.75em;
}

#nav li {
  font-size: 3em;
  float: left;
  list-style: none;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  padding-right: .5em;
  text-decoration: none;
  color: #fff;
}

#nav li a.last {
  border-right: 0;
}

#nav li a:hover {
  color: #069;
}

#nav li a.current {
  color: #000;
}

/***********************************
 *                                 *
 *        TEXT AND HEADINGS        *
 *                                 *
 ***********************************/
* {
  font-size: 1em;
  line-height: 1.5em;
}

p {
  margin-top: .75em;
  margin-bottom: .75em;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  color: #FF6D00;
  font-size: 4em;
  margin-top: .25em;
  margin-bottom: .25em;
}

h2 {
  color: #2C93BA;
  font-size: 2.5em;
  margin-top: .25em;
  margin-bottom: .25em;
}

h3 {
  color: #3A9AC0;
  font-size: 1.3em;
  margin-top: .1em;
  margin-bottom: .1em;
}

/***********************************
 *                                 *
 *              LISTS              *
 *                                 *
 ***********************************/
li {
  list-style: square;
}

/***********************************
 *                                 *
 *              LINKS              *
 *                                 *
 ***********************************/
a img {
  border: none;
}

a:link {
  color: #69C;
}

a:visited {
  color: #C3F;
}

a:hover, a:active, a:focus {
  color: #C00;
}

/***********************************
 *                                 *
 *          PAGE ELEMENTS          *
 *                                 *
 ***********************************/
hr {
  height: 1px;
  border-top: 1px;
  border-right: none;
  border-left: none;
  border-color: #aaa;
  width: 40%;
}

table td {
  vertical-align: top;
}
